<ng-template #modalNewDestination let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title"> Crear nuevo destinatario </h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModalReload()"> 
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="newDestination" (ngSubmit)="onSubmit()" #formDirective="ngForm" class="p-5 bg-white">
        <div class="row form-group">
          <div class="col-md-6 mb-3 mb-md-0">
            <label class="text-black" for="fname">Rut</label>
            <input type="text" formControlName="rut" formatRut class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && f.rut.errors}" maxlength="15">
            <div *ngIf="submitted && f.rut.errors">
              <div *ngIf="f.rut.errors.maxlength">El máximo de caracteres es 15</div>
              <div *ngIf="f.rut.errors.invalidRut">Ingrese un rut válido</div>
            </div>
          </div>
          <div class="col-md-6 mb-3 mb-md-0">
            <label class="text-black" for="name">Nombre completo</label> 
            <input type="text" formControlName="name" class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && f.name.errors}" maxlength="100" >
          </div>
          <div class="col-md-6 mb-3 mb-md-0">
            <label class="text-black" for="account_number">Número de Cuenta</label> 
            <input type="number" formControlName="account_number" class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && f.account_number.errors}" maxlength="100" >
          </div>
          <div class="col-md-6 mb-3 mb-md-0">
            <label class="text-black" for="bank_id">Banco</label> 
            <h6 *ngIf="!load.bank"> <i class="fa fa-spinner fa-spin"></i> Cargando los bancos</h6>
            <select formControlName="bank_id" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.bank_id.errors}" *ngIf="load.bank" >
              <option value="" disabled selected>Seleccione</option>
              <option *ngFor="let bank of dataBanks" value="{{ bank.bank_id }}"> {{ bank.name }} </option>
            </select>
          </div>
          <div class="col-md-12 mb-3 mb-md-0">
            <label class="text-black" for="account">Email</label> 
            <input type="email" formControlName="email" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.email.errors}" maxlength="100">
                <div *ngIf="submitted && f.email.errors">
                  <div *ngIf="f.email.errors.email">Debe ingresar un email válido</div>
                </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-12">
            <input type="submit" value="Registrar" class="btn btn-primary btn-md text-white" *ngIf="!load.createDestination">
            <h6 *ngIf="load.createDestination"> <i class="fa fa-spinner fa-spin"></i> Creando el destinatario, espere por favor</h6>
          </div>
        </div>
      </form>
    </div>
</ng-template>