<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-3 ml-auto">
            <h2 class="footer-heading mb-4">Links de interés</h2>
            <ul class="list-unstyled">
              <li><a href="https://www.sbif.cl/sbifweb/servlet/Portada?indice=0.0" class="smoothscroll">Superintendencias de bancos e Instituciones financiera </a></li>
              <li><a href="https://www.cmfchile.cl/" class="smoothscroll">CMF</a></li>
              <li><a href="#" class="smoothscroll">Sugerencias y Reclamos</a></li>
              <li><a href="#" class="smoothscroll">Tarifas y comisiones</a></li>
              <li><a href="#contact-section" class="smoothscroll">Contáctanos</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <div class="border-top pt-5">
            <p class="copyright">
                <small>Copyright &copy; Todos los derechos reservados por RC</small>
            </p>
        </div>
      </div>
    </div>
  </div>
</footer>