<ng-template #modalNewTransfer let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title"> Transferencia </h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()"> 
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="newTransfer" (ngSubmit)="onSubmit()" #formDirective="ngForm" class="p-5 bg-white">
        <div class="row form-group">
          <div class="col-md-6 mb-3 mb-md-0">
            <label class="text-black" for="fname">Rut</label>
            <input type="text" formControlName="rut" formatRut class="form-control">
          </div>
          <div class="col-md-6 mb-3 mb-md-0">
            <label class="text-black" for="name">Nombre</label> 
            <input type="text" formControlName="name" class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && f.name.errors}" maxlength="100" >
          </div>
          <div class="col-md-6 mb-3 mb-md-0">
            <label class="text-black" for="account">Número de Cuenta</label> 
            <input type="number" formControlName="account" class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && f.account.errors}" maxlength="100" >
          </div>
          <div class="col-md-6 mb-3 mb-md-0">
            <label class="text-black" for="bankId">Banco</label> 
            <select formControlName="bankId" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.bankId.errors}" >
              <option value="" disabled selected>Seleccione</option>
            </select>
          </div>
          <div class="col-md-12 mb-3 mb-md-0">
            <label class="text-black" for="account">Monto a transferir</label> 
            <input type="number" formControlName="ammount" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.ammount.errors}" maxlength="100">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-12">
            <input type="submit" value="Registrar" class="btn btn-primary btn-md text-white">
          </div>
        </div>
      </form>
    </div>
</ng-template>